{# templates/admin/students/student/change_list.html #}
{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/change_list.css' %}">
{% endblock %}

{% block content_title %}
  {% if current_company_name %}
    <div class="portal-change-title">
      <div class="filter-box">
        <h2>
          {% trans "現在の操作対象企業" %}：
          <strong class="current-company-name">{{ current_company_name }}</strong>
        </h2>
        {% with request.GET as params %}
          {% if params.major_class or params.minor_class or params.call_progress or params.detailed_call %}
            <p>
              {% trans "現在のフィルター" %}：
              {% if params.major_class %}
              <strong class="filter-highlight">「{{ params.major_class }}」</strong>
              {% endif %}
              {% if params.minor_class %}
                {% if params.major_class %}<span>×</span>{% endif %}
                <strong class="filter-highlight">「{{ params.minor_class }}」</strong>
              {% endif %}
              {% if params.call_progress %}
                {% if params.major_class or params.minor_class %}<span>×</span>{% endif %}
                <strong class="filter-highlight">
                  {% if params.call_progress == 'first' %}{% trans "1コール目" %}
                  {% elif params.call_progress == 'second' %}{% trans "2コール目" %}
                  {% elif params.call_progress == 'third' %}{% trans "3コール目" %}
                  {% elif params.call_progress == 'done' %}{% trans "TEL終了/処理済" %}
                  {% endif %}
                </strong>
              {% endif %}
              {% if params.detailed_call %}
                {% if params.major_class or params.minor_class or params.call_progress %}<span>×</span>{% endif %}
                <strong class="filter-highlight">
                  {% if params.detailed_call == '2_morning' %}2コール目（朝）
                  {% elif params.detailed_call == '2_noon' %}2コール目（昼）
                  {% elif params.detailed_call == '2_evening' %}2コール目（夕）
                  {% elif params.detailed_call == '3_morning' %}3コール目（朝）
                  {% elif params.detailed_call == '3_noon' %}3コール目（昼）
                  {% elif params.detailed_call == '3_evening' %}3コール目（夕）
                  {% else %}{{ params.detailed_call }}
                  {% endif %}
                </strong>
              {% endif %}
            </p>
          {% endif %}
        {% endwith %}
      </div>
      <div class="filter-actions">
        <div>
          <a href="{% url 'student_upload_csv' company_id=current_company_id %}">{% trans "CSVアップロード" %}</a>
        </div>
      </div>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block result_list %}
  {{ block.super }}
  <script src="{% static 'admin/js/change_list.js' %}"></script>
{% endblock %}
