{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/base_site.css' %}">
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">RPOテレマアプリ</a>
  </h1>
{% endblock %}

{% block nav-global %}
  <div id="nav-global">
    <ul>
      <li><a href="https://hmao034568.sharepoint.com/:p:/s/portal/soryusyonsien/IQCnyOd-Vwo3TKFkoBIcuVhzAaP8CGLuj7sXcA7edknW1ZU?e=i1VQvo">マニュアル</a></li>
      <li><a href="{% url 'admin:index' %}">トップ</a></li>
      <li><a href="{% url 'company_portal_index' %}">企業ポータル</a></li>
    </ul>
  </div>
{% endblock %}
